*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    margin: 20px;
    padding: 20px;
    width: 100%px;
    height: 100vh;
    position: relative;
    background: #6a6767;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        border-radius: 5px;
}
#animation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 160px;
    height: 20vh;
    position: absolute;
    background: #f1e5e5;
    border: 1px solid #000;
    border-radius: 10px;
}
